* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

h1 {
    background: #108db8;
    margin: 0;
    padding: 20px auto;
    display: block;
}

h3{
  width: 100%;
  background: #108db8;
  color: #fff;
  padding: 5px 10px;
}

h4{
  color: #108db8;
  margin-left: 10px;
}

table{
  margin: 10px;
}

p{
  margin: 10px;
}

table{
  border-collapse: collapse;
  font-size: 2vw;
}
th, td{
  border: solid 1px #000;
  text-align: center;
}
th{
  background: #666;
  color: #fff;
}
.color-cell{
  background: #bbb;
}
